<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, magni.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quam
        repudiandae mollitia a perferendis quaerat aliquid molestiae. Officia,
        commodi officiis.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature-image" src="images/easy.jpg" alt="" />
    </picture>
  </article>
</section>
<section>
  <article class="grid grid--1x2 feature">
    <picture>
      <img class="feature-image" src="images/fast.jpg" alt="" />
    </picture>
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
  </article>
</section>
